transformers
sentence_transformers
torch==2.6.0
bitsandbytes
accelerate
langchain
langchainhub
langchain-chroma
langchain_experimental
langchain-community
langchain_huggingface
python-dotenv
pypdf
markitdown[pdf]
streamlit==1.36.0
blobfile
sentencepiece
huggingface_hub
